
  @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,500&family=Inter:wght@500&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*este es el style del fondo de la pagina*/
body{
  background: rgb(0,0,0);
  background: linear-gradient(6deg, rgba(0,0,0,1) 0%, rgba(23,35,59,1) 98%);
}

header{
  width: 100%;
}

/* este es el contenedor header */
.container_header{
  max-width: 1200px;
  height: 100px;
  margin: auto;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*la caja del del logo*/

.logo img{
  width: 385px; 
}

/*caja del menu de navegacion*/

.menu nav ul{
  display: flex;
}

.menu nav ul li{
  list-style: none;
  padding: 0px 20px;
}

.menu nav ul li a{
  font-size: 20px;
  text-decoration: none;
  color: #d9d9d9;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Inter', sans-serif;
}

nav ul li a:hover{
  color: rgb(196,252,116);
}


/*portada bienvenida*/

main{
  max-width: 1200px;
  height: calc(100vh); 
  padding: 40px;
  margin: auto;
}

.cover{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.text_de_bienvenida {
  width: 40%;
  padding-left: 10px;
}

.text_de_bienvenida h1{
  font-size: 60px;
  font-family: 'Sedgwick Ave Display', cursive;
  color: #05abf2;  
}


.buttons-cover{
  display: flex;
  margin-top: 40px;
}

.btn_register-cover{
  padding: 12px 30px;
  border: none;
  background: #4eb235;
  color: white;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  margin-left: 14px;
  border-radius: 55px;
  transition: background, color, 300ms;
}

.btn_register-cover:hover{
  background: #92b988;
}

.imagen_de_bienvenida{
  width: 60%;
}

.imagen_de_bienvenida img{
  width: 100%;
}

/*banner*/

section{
  max-width: 1200px;
  height: calc(100vh); 
  padding: 30px 20px;
  margin: auto;
}

.container_banner{
    margin-top: 80px;
}

.banner{
  height: 250px;
  display: flex;
  align-items: center;
  position: relative;
}

.container_banner img{
  width: 400px;
}

.text_banner p{
  background: white;
  position:relative;
  text-justify: auto;
}